body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('sources/contraportada.jpg'); /* Imagen de fondo */
    background-size: cover; /* Asegúrate que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegúrate que el body ocupe todo el alto de la ventana */
    margin: 0; /* Elimina el margen predeterminado del body */
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas flexibles */
    grid-template-rows: repeat(4, auto); /* Altura automática */
    column-gap: 1px;
    row-gap: 8px;
    justify-content: center;
    margin: 50px auto; /* Centra el tablero en la página */
    max-width: 70%; /* Asegura que el tablero no exceda el ancho de la pantalla */
}

.card {
    width: 55%; /* Ancho de la carta proporcional al contenedor */
    aspect-ratio: 3 / 4; /* Mantiene la proporción 3:4 (más larga que ancha) */
    max-width: 450px; /* Limita el ancho máximo a 250px para reducir el tamaño */
    max-height: 550px; /* Limita la altura máxima a 350px */
    background-image: url('sources/portada_cartas.jpeg'); /* Imagen de fondo de la carta */
    background-size: cover; /* Asegúrate que la imagen cubra toda la carta */
    background-position: center; /* Centra la imagen de fondo */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre la carta */
    border: 1px solid black; /* Sin borde */
    position: relative;
    overflow: hidden; /* Esconde el contenido que sobrepasa la carta */
    transition: transform 0.2s; /* Efecto de transición al interactuar */
    border-radius: 15px; /* Bordes redondeados */
    margin: 0 auto; /* Elimina márgenes adicionales en las cartas */
}

.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor sobre la carta */
}

.card img {
    width: 100%; /* Asegura que la imagen de la carta se ajuste */
    height: 100%; /* Asegura que la imagen de la carta se ajuste */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    display: none; /* Ocultar la imagen por defecto */
}

.card.flipped img {
    display: block; /* Mostrar imagen al girar la carta */
}

.card.matched {
    background-color: lightgreen; /* Color de fondo cuando las cartas coinciden */
    pointer-events: none; /* Desactiva clics en cartas coincidentes */
    border-radius: 15px; /* Mantener bordes redondeados cuando coincide */
}
